<div class="footer container" style="max-width: 100%;">

    <div class="footer-upper">
        <div class="footer-upper-logo">
            <img src="../assets/images/career_center_logo.png" alt="career-center-logo">
        </div>        
    </div>
    <div class="footer-lower row">
        <div class="footer-parts address col-3">
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-location-dot fa-lg"></i>
                </div>
                <div class="col-10">
                    <div class="row">
                        <span>〒XXX-XXXX</span>
                    </div>
                    <div class="row"><span>address address</span></div>
                    <div class="row"><span>address address</span></div>
                    
                    
                </div>
            </div>
            
            
            
        </div>
        <div class="footer-parts col-3">
            <div class="tel">
                <div class="row">
                    <div class="col-2"><i class="fa-solid tel fa-phone fa-lg"></i></div>
                    <div class="col-10"><span>XXX-XXXX-XXXX</span></div>                    
                </div>                
            </div>
            <div class="email">
                <div class="row">
                    <div class="col-2"><i class="fa-solid fa-envelope fa-lg"></i></div>
                    <div class="col-10"><span>XXXX@XXXX</span></div>
                </div>
            </div>
        </div>
        <div class="footer-parts col-3 text-uppercase">
            <h6>opening hours</h6>
            <p>mon-fri 9:00-17:00<br>Excluding holidays</p>
        </div>
        <div class="footer-parts social col-3 p-1">
            <a href="#"><img src="../assets/images/icon-fb.png" alt=""></a>
            <a href="#"><img src="../assets/images/icon-ig.png" alt=""></a>
            <a href="#"><img src="../assets/images/icon-tw.png" alt=""></a>
        </div>
    </div>
</div>